<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajce.hostelmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.ajce.hostelmate.activities.InmatesLoginActivity" />
        <activity android:name="com.ajce.hostelmate.activities.ReceptionLoginActivity" />
        <activity
            android:name="com.ajce.hostelmate.activities.InmatesDashboardActivity"
            android:label="@string/title_activity_issue_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ajce.hostelmate.reportissue.inmates.InmatesIssuesDetailsActivity" />
        <activity android:name="com.ajce.hostelmate.reportissue.inmates.InmatesReportAnIssueActivity" />
        <activity android:name="com.ajce.hostelmate.activities.ReceptionDashboardActivity" />
        <activity android:name="com.ajce.hostelmate.reportissue.reception.ReceptionIssuesDetailsActivity" />

        <activity android:name="com.ajce.hostelmate.sickleave.inmates.InmatesRequestSickLeaveActivity" />
        <activity android:name="com.ajce.hostelmate.sickleave.inmates.InmatesSickLeavesDetailsActivity" />
        <activity android:name="com.ajce.hostelmate.sickleave.reception.ReceptionSickLeaveDetailsActivity" />

        <activity android:name="com.ajce.hostelmate.noticeboard.reception.ReceptionPublishNoticeActivity" />
        <activity android:name="com.ajce.hostelmate.noticeboard.reception.ReceptionNoticeBoardDetailsActivity" />
        <activity android:name="com.ajce.hostelmate.noticeboard.inmates.InmatesNoticeBoardDetailsActivity" />
        <activity android:name="com.ajce.hostelmate.nightstudy.inmates.InmatesRequestNightStudyActivity" />

        <activity
            android:name="com.ajce.hostelmate.activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ajce.hostelmate.NotificationService"
            android:exported="false" />

        <activity android:name="com.ajce.hostelmate.activities.ControlPanelActivity" />

        <receiver android:name="com.ajce.hostelmate.WidgetForInmates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_for_inmates_info" />
        </receiver>

        <activity android:name="com.ajce.hostelmate.NoNetwork" />
    </application>

</manifest>